.header-container{
display: flex;
height: 50px;
padding: var(--spacing-small);
background-color: #44af92;
}
.header-counter{
    margin-left: auto;
    padding-right: var(--spacing-small);
    font-weight: bolder;
    cursor: pointer;
    font-size: 20px;
}